/* Movie Section CSS */
.movieSectionInfo {
  background-color: #ebf7ed;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  height: 100%;
  font-family: "Kalam", cursive;
  text-align: center;
  box-shadow: 0 1px 1px #D8D8D8, 
  0 2px 2px #D8D8D8, 
  0 4px 4px #D8D8D8, 
  0 6px 8px #D8D8D8,
  0 8px 16px #D8D8D8;
}
.movieTitle {
  text-align: center !important;
  font-family: 'Libre Baskerville', serif !important;
  color: #D8D8D8 !important;
  letter-spacing: 20px;
  font-size: 80px;
  margin-top: 99%;

}
.moviePoster {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  height: 420px;
  box-shadow: 20px 20px 10px #D8D8D8
}
.movieDatabase {
  font-size: 16px;
  text-align: center;
}
.movieDatabaseValue {
  font-size: 8px !important;
}
.rating {
  text-align: center;
  font-size: 20px;
  color: #D8D8D8 !important;
}
.releaseYear {
  text-align: center;
  font-size: 20px;
  color: #D8D8D8 !important;
}
.plotInfo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 2%;
  margin-bottom: 4%;
  text-align: center;
  color: #D8D8D8 !important;
  font-size: 25px;
}
.specialGlow {
    font-size: 24px;
    display: inline;
    text-decoration: underline;
    color: #FFD700;
    text-shadow:
      0 0 5px #FFD700,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #0ff,
      0 0 20px #0ff,
      0 0 20px #0ff,
      0 0 200px #fff,
      0 0 200px #fff;
}

/* Information Section */
.infoSection {
  height: 400px;
  width: 90%;
  display: block;
  margin: 0 auto;
  background-color: white;
  font-family: "Kalam", cursive;
  padding: 3%;
  text-align: left;
  font-weight: 900;
  border: 1px solid #D8D8D8;
  box-shadow: 25px 25px 10px #D8D8D8
}
.infoSection h6 {
  font-size: 22px !important;
  text-align: center;
  text-decoration: underline;
  color: #D8D8D8 !important;
}
.infoSection p {
font-size: 14px !important;
color: #D8D8D8 !important;
}
.infoSectionText {
  font-weight: normal !important;
}
.nyTimesSection {
  height: 400px;
  width: 90%;
  display: block;
  margin: 0 auto;
  background-color: white;
  font-family: "Kalam", cursive;
  border: 1px solid #D8D8D8;
  padding: 3%;
  box-shadow: 15px 15px 5px #D8D8D8
}
.ratingSection {
  height: 400px;
  border: 1px solid #D8D8D8;
  width: 90%;
  display: block;
  margin: 0 auto;
  background-color: white;
  padding: 2%;
  color: #D8D8D8 !important;
  box-shadow: 15px 15px 5px #D8D8D8
}
.ratingSection h6 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 15%;
  text-decoration: underline;
}

.nyTimesSection p {
  font-size: 10px;
  margin-top: 5%;
  text-align: center;
}
.nyTimesLink{
    font-size: 20px !important;
}
a:link {
  color: #FFD700;
}
a:visited {
  color: #FFD700;
}
.nyTimesLogo {
  width: 80%;
  height: 10%;
  display: block;
  margin: 0 auto;
}
.nyTimesText {
  font-size: 20px !important;
  padding-top: 30%;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: #D8D8D8;
}
.straightLine {
  width: 100%;
  height: 15% !important;
  line-height: 8% !important;
}
.infoSection h6 {
  font-size: 16px;
  text-align: center;
}
.infoSection p {
  font-size: 12px;
}
.starImage{
  height: 20%;
  width: 35%;
  display: block;
  margin: 0 auto;
}
.posterSection{
  height: 400px;
  width: 90%;
  border: 4px solid #d8d8d8;
  display: block;
  margin: 0 auto;
  background-color: white;
  padding: 3%;
}
.searchButton{
  display: block;
  margin: 0 auto;
  margin-top: 30%;
}



@media (min-width: 320px) and (max-width: 860px) { 
  /* Movie Section for mobile */
  .movieSectionInfo {
    margin-top: 18%;
    height: 100%;
    width: 100%;
  }
  .moviePoster {
    width: 70%;
    height: 300px;
    margin-top: 3%;
  }
  .movieTitle{
    font-size: 35px;
    letter-spacing: 5px;
  }
  .plotInfo{
    width: 100%;
    font-size: 16px;
    margin-top: 7%;
  }

  /* InfoSection for mobile */
  .infoSection {
    width: 90%;
    padding: 3%;
    margin-top: 10%;
    -ms-transform: rotate(25deg); /* IE 9 */
    transform: rotate(25deg); /* Standard syntax */
  }
  .nyTimesSection {
    width: 90%;
    padding: 3%;
    margin-top: 2%;
    -ms-transform: rotate(-25deg); /* IE 9 */
    transform: rotate(-25deg); /* Standard syntax */
  }
  .ratingSection {
    width: 90%;
    padding: 3%;
    -ms-transform: rotate(25deg); /* IE 9 */
    transform: rotate(25deg); /* Standard syntax */
  }
  .ratingSection h6 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 5%;
    text-decoration: underline;
  }
  .searchButton{
    display: block;
    margin: 0 auto;
    margin-top: 30% !important;
  }

}
