#searchSection{
padding-top: 10%;
}
.homePageDiv {
  display: flex;
  justify-content: center;
} 
.searchBar{
    width: 50% !important;
    margin: 0 auto;
    box-shadow: 5px 5px 2px #D8D8D8
}
.centerContainer{
    width: 80%;
    margin: 0 auto;
}
.nextPageButton {
    margin: 0 auto;
}
.movieNames {
    text-align: center;
    font-family: 'Libre Baskerville', serif !important;
    color: #B8B6B6;
}
.movieNames:hover {
    color: #5E5D5D;
    font-weight: bold;
    font-size: 20px;
}
.text-muted {
    text-align: center;
}
.movieLogo {
    height: 375px;
    width: 375px;
    display: block;
    margin: 0 auto;
    margin-bottom: 5%;
    box-shadow: 0 1px 1px #D8D8D8, 
    0 2px 2px #D8D8D8, 
    0 4px 4px #D8D8D8, 
    0 6px 8px #ebf7ed,
    0 8px 16px #ebf7ed;
}
.searchButton{
    margin: 0 auto;
    width: 10%;
    display: flex; 
    justify-content: center;
    margin-top: 4%;
    box-shadow: 5px 5px 2px #D8D8D8
}
.movieOptionTitle{
    text-align: center;
    width: 100%;
    font-size: 30px;
    margin-bottom: 5%;
    font-family: 'Libre Baskerville', serif !important;
    color: #B8B6B6;
}

@media (min-width: 320px) and (max-width: 440px) { 

#searchSection{
    padding-top: 1% !important;
}
.searchBar{
    margin-top: 10%;
    width: 80% !important;
}
.movieLogo {
    height: 300px;
    width: 300px;
    display: block;
    margin: 0 auto;
    margin-top: 45%;
    margin-bottom: 40%;
}
.movieOptionTitle {
    margin-top: 25%;
}
.searchButton{
    margin: 0 auto;
    width: 40%;
    display: flex; 
    justify-content: center;
    margin-top: 4%;
}

}