#searchSection{
padding-top: 10%;
}
.searchBar{
    width: 30%;
}
.centerContainer{
    width: 80%;
    margin: 0 auto;
}
.nextPageButton {
    margin: 0 auto;
}
.movieNames {
    text-align: center;
}
.text-muted {
    text-align: center;
}
.databaseLogo {
display: none;
}

@media (min-width: 320px) and (max-width: 440px) { 

.searchBar{
    margin-top: 10%;
}
.databaseLogo {
    border: none;
    display: block;
    margin: 0 auto;
}

}