.titleText{
    text-align: center;
    font-family: 'Fontdiner Swanky', cursive;
    letter-spacing: 10px;
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-size: 80px;
}
.navBar{
    overflow: hidden;
    border-bottom: 7px solid #EBF7ED;
    background-color: #E2F0E4;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 15%;
    display: table; 
    
}

@media (min-width: 320px) and (max-width: 440px) { 
    .titleText{
        text-align: center;
        font-family: 'Fontdiner Swanky', cursive;
        letter-spacing: 8px;
        font-size: 30px;
        display: table-cell;
        vertical-align: middle;
    }
    .navBar{
        overflow: hidden;
        border-bottom: 7px solid #EBF7ED;
        background-color: #E2F0E4;
        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%; /* Full width */
        height: 10%;
        display: table; 
        
    }

}